<div class='wrapper'>
    <md-card class='intro'>
        <img class='main-logo' src='/assets/images/yoc-transparent.png' />
        <span class='title'>Ye Olde Chums</span>
        <span>The coolest group o' guys you can find!</span>
    </md-card>
    <h2>Join Slack!</h2>
    <md-form-field class='slack-invite'>
        <input mdInput placeholder='Email' type='text' [(ngModel)]='email'/>
        <button mdSuffix md-button color='primary' (click)='sendInvite(email); email = ""'>Send Invite</button>
    </md-form-field>
    <p>Hey! Do you want to be <strong>cool</strong>?</p>
    <p>Here are pictures that you can use to brandish your affiliation on all of the online communities.</p>
    <div class='images'>
        <a *ngFor='let image of images' href='/assets/images/{{ image.src }}'>
            <img src='/assets/images/{{ image.src }}'/>
            <p>{{ image.title }}</p>
        </a>
    </div>
</div>
