<mat-card>
    <mat-card-content>
        <!--<input id='file' type='file' (change)='processFile($event.target.files[0])' />-->
        <!--<label mat-raised-button for='file'>Upload File</label>-->
        <button mat-raised-button class='w100p'>
            <span *ngIf='!fileParsed'>Select Save File</span>
            <span *ngIf='fileParsed'>{{ player.name }} - {{ player.farmName }} Farm</span>
            <input class='file-upload-button' type='file' (change)='processFile($event.target.files[0])' />
        </button>
        <div class='canvas-wrapper' [hidden]='!fileParsed'>
            <canvas #baseCanvas></canvas>
            <canvas #overlayCanvas></canvas>
        </div>
        <button *ngIf='fileParsed' mat-raised-button class='w100p' (click)='saveFile()'>Export Save</button>
    </mat-card-content>
</mat-card>
