<h1 mat-dialog-title>Tile Edit</h1>
<mat-dialog-content>
    <mat-list>
        <mat-list-item *ngFor='let prop of tileInfo'>
            <mat-form-field *ngIf='prop.value | typeof: "number"'>
                <input mdInput type='number' step='1' [placeholder]='prop.key | titleize' [(ngModel)]='prop.value' />
            </mat-form-field>
            <mat-form-field *ngIf='prop.value | typeof: "string"'>
                <input mdInput type='text' [placeholder]='prop.key | titleize' [(ngModel)]='prop.value' />
            </mat-form-field>
            <mat-slide-toggle *ngIf='prop.value | typeof: "boolean"'
                color='primary'
                [(ngModel)]='prop.value'
            >
                {{ prop.key | titleize }}
            </mat-slide-toggle>
            <div *ngIf='isVector(prop)'>
                <div>{{ prop.key | titleize }}</div>
                <mat-form-field>
                    <input mdInput type='number' step='1' placeholder='X' [(ngModel)]='prop.value.x' />
                </mat-form-field>
                <mat-form-field>
                    <input mdInput type='number' step='1' placeholder='Y' [(ngModel)]='prop.value.y' />
                </mat-form-field>
            </div>
        </mat-list-item>
    </mat-list>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button (click)='close()'>Save</button>
</mat-dialog-actions>
