<div class='container'>
  <mat-card>
    <mat-card-title>
      Miner
      <span class='flex-filler'></span>
      <div *ngIf='miner'>
        <button mat-raised-button color='primary' *ngIf='!isRunning()' (click)='start()'>Start Mining! :D</button>
        <button mat-raised-button color='accent' *ngIf='isRunning()' (click)='stop()'>Stop Mining... :(</button>
      </div>
    </mat-card-title>
    <mat-card-content>
      <div *ngIf='miner; else noBlock'>
        <div *ngIf='!user'>Login to mine for yourself</div>
        <mat-form-field>
          <input mdInput type='text' [ngModel]='user?.nickname' placeholder='Username' disabled='disabled' />
        </mat-form-field>
        <mat-form-field>
          <input mdInput type='number' min='1' max='4' [(ngModel)]='threads' (ngModelChange)='onThreadsChange($event)' placeholder='Threads'
          />
        </mat-form-field>
        <span>h: {{ totalHashes }}</span>
        <span>h/s: {{ hashesPerSecond }}</span>
        <div *ngIf='siteInfo.totalHashes && topUsers; else loading'>
          <mat-card *ngIf='user'>
            <mat-card-title>
              User Stats
              <span class='flex-filler'></span>
              <button mat-raised-button color='accent' (click)='refreshUserStats()'>Refresh <mat-icon>refresh</mat-icon></button>
            </mat-card-title>
            <mat-card-content>
              YOCoin: {{ balance | number: '1.2-2' }}
            </mat-card-content>
          </mat-card>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Top Miners
              </mat-panel-title>
              <mat-panel-description>
                #1: {{ topUsers[0].name }} | {{ topUsers[0].total | number }} | {{ (topUsers[0].total / siteInfo.totalHashes) * 100 | number: '1.2-2' }}%
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item *ngFor='let user of topUsers; index as idx'>#{{ idx + 1}}: {{ user.name }} | {{ user.total | number }} | {{ (user.total / siteInfo.totalHashes) * 100 | number: '1.2-2' }}%</mat-list-item>
            </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Site Stats
              </mat-panel-title>
              <mat-panel-description>
                Total Hashes: {{ siteInfo.totalHashes | number }} | Hashes per Second: {{ siteInfo.hashesPerSecond }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item>hashes: {{ siteInfo.totalHashes | number }}</mat-list-item>
              <mat-list-item>hashes/s: {{ siteInfo.hashesPerSecond }}</mat-list-item>
              <mat-list-item>XMR: {{ siteInfo.xmr }}</mat-list-item>
              <mat-list-item>USD: {{ siteInfo.xmr * siteInfo.rate | currency: 'USD' : true }}</mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </div>
      </div>
      <ng-template #loading>
        <mat-progress-spinner class='centered' mode='indeterminate'></mat-progress-spinner>
      </ng-template>
      <ng-template #noBlock>
        Turn off blocker in order to mine
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>
