<div class='stream'>
    <div class='player'>
        <!--<jwplayer [settings]='settings' (ready)='onPlayerReady()' (playlistItem)='onPlaylistItem($event)'></jwplayer>-->
        <iframe #iframe id='player-iframe' name='player-iframe' src='/stream.html'></iframe>
        <div id='playerdiv'></div>
        <div class='status'>
            <md-icon>person</md-icon>
            <span>{{ viewerCount }}</span>
        </div>
    </div>
    <div class='chat'>
        <md-input-container class='w100p'>
            <textarea mdInput placeholder='Send a message' [(ngModel)]='text' (keypress)='sendChat($event)'></textarea>
        </md-input-container>
        <md-list dense>
            <div class='message' *ngFor='let message of messages'>
                <md-list-item>
                    <!-- To make the small text line up -->
                    <div>
                        <small>{{ message.timestamp | date:"shortTime" }}</small>&nbsp;
                        <span>{{ message.user }}:&nbsp;</span>
                        <span>{{ message.text }}</span>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
            </div>
        </md-list>
    </div>
</div>
