<div class='container'>
  <a class='brand' routerLink='/'>
    <img class='logo' src='/assets/images/yoc.png'/>
  </a>
  <a class='brand' routerLink='/'>
    <div class='title'>Ye Olde Chums</div>
  </a>
  <div *ngFor='let route of routes'>
    <a *ngIf='!route.auth || auth.isAuthenticated()' md-button [routerLink]='route.path'>
        <md-icon>{{ route.icon }}</md-icon>&nbsp;{{ route.name }}
    </a>
  </div>
  <span class='flex-filler'></span>
  <div *ngFor='let route of afterRoutes'>
    <a *ngIf='!route.auth || auth.isAuthenticated()' md-button [routerLink]='route.path'>
        <md-icon>{{ route.icon }}</md-icon>&nbsp;{{ route.name }}
    </a>
  </div>
  <button md-button (click)='auth.login()' *ngIf='!auth.isAuthenticated()'>Login</button>
  <div *ngIf='auth.isAuthenticated()'>
    <small>{{ auth.user?.name }}</small>
    <button md-button (click)='auth.logout()'>Logout</button>
  </div>
</div>
