<div class='container'>
  <a class='brand' routerLink='/'>
    <img class='logo' src='/assets/images/yoc.png'/>
  </a>
  <a class='brand' routerLink='/'>
    <div class='title'>YOC</div>
  </a>
  <div *ngFor='let route of routes'>
    <a *ngIf='route.isExternal' mat-button [href]='route.path' target='_blank'>
        <mat-icon>{{ route.icon }}</mat-icon>&nbsp;{{ route.name }}
    </a>
    <a *ngIf='!route.isExternal && !route.auth || auth.isAuthenticated()' mat-button [routerLink]='route.path'>
        <mat-icon>{{ route.icon }}</mat-icon>&nbsp;{{ route.name }}
    </a>
  </div>
  <span class='flex-filler'></span>
  <div *ngFor='let route of afterRoutes'>
    <a *ngIf='!route.auth || auth.isAuthenticated()' mat-button [routerLink]='route.path'>
        <mat-icon>{{ route.icon }}</mat-icon>&nbsp;{{ route.name }}
    </a>
  </div>

  <!--
  <button mat-button (click)='auth.login()' *ngIf='!auth.isAuthenticated()'>Login</button>
  <div *ngIf='auth.isAuthenticated()'>
    <small>{{ getName() }}</small>
    <button mat-button (click)='auth.logout()'>Logout</button>
  </div>
  -->
</div>
